.home {


    .content-section {
        margin         : 30px 0;
       .flex-mix();
        justify-content: space-between;

        .top-image {
            margin-right: 400px;
        }

        .text-content {
            width        : 48%;
            padding-right: 1%;
            padding-top  : 3%;
        }


        .img-content {
            width       : 48%;
            padding-left: 1%;

            img {
                border-radius: 10px;
            }
        }
    }

    .inverse-content {
        padding-bottom: 30px;
        border-bottom : 2px solid silver;

        .text-content {
            padding-left : 1%;
            padding-right: 0;
        }


    }

    .content-bottom {
        margin     : 0 auto 30px;
        display    : flex;
        flex-wrap  : wrap;
        align-items: center;
        width      : 75%;
        padding-top: 3%;


        img {
            border-radius: 10px;
        }
    }

    .content-section {
        padding-top    : 30px;
        display        : flex;
        justify-content: space-between;
        margin         : 30px 0;
    }
}


.img-fluid-rounded {
    border-radius: 20px;

}


.btn {

    border         : 1px solid @white;
    border-radius  : 10px;
    padding        : 10px 20px;
    width          : 250px;
    display        : flex;
    justify-content: center;
    margin         : 2% 0 0 51%;
    font-size      : 2rem;
    background     : @success-green;
    color          : @white;

    @media(max-width: 500px) {

        margin: 2% 0 0 7%;

    }

    &:hover {
        background-color: @info-blue;
        color           : @success-green;

        color: @main-bg;



    }
}


.content-section {
    margin         : 30px 0;
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-between;


    .about-content {
        width        : 48%;
        padding-right: 1%;
        padding-top  : 3%;
    }

    .student-pic {
        width       : 48%;
        padding-left: 1%;

        img {
            border-radius: 10px;
        }
    }

    .inverse-content {
        padding-bottom: 30px;
        border-bottom : 2px solid silver;

        .text-content {
            padding-left : 1%;
            padding-right: 0;
        }

    }
}