.logoLinks {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    padding        : 1%;


    .links {
        display        : flex;
        justify-content: space-evenly;
  @media(max-width: 500px) {
      flex-wrap: wrap;
  }
    }

    a {
        color: @info-blue;

        &:hover {
            color: @success-green;
        }

        margin          : 1%;
        padding         : 2%;
        font-size       : 2rem;
        text-decoration : none;

    }
}